<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="base :: head(index)">
</head>
<body>
    <nav th:insert="base :: navbar"></nav>

    <div class="container" id="contenido">
        <h2 th:text="${post.id_post == 0? 'Nuevo Post' : 'Editar Post'}"></h2>
        <hr/>
        <form method="post" th:action="@{'/post/guardarPost'}" th:object="${post}">
            <input type="hidden" th:field="*{id_post}" />
            <input type="hidden" th:field="*{content}" th:value="1" />
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" th:field="*{title}">
            </div>
            <div class="form-group">
                <label for="resumen">Resumen</label>
                <input type="text" class="form-control" th:field="*{summary}">
            </div>
            <div class="form-group">
                <label for="contenido">Contenido</label>
                <input type="text" class="form-control" th:field="*{content}">
            </div>
            <a th:href="@{'/post/listaPosts'}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary" th:text="${post.id_post == 0? 'Registrar' : 'Actualizar'}"></button>
        </form>
    </div>
</body>
</html>