<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="base :: head(index)">
</head>
<body>
    <nav th:insert="base :: navbar"></nav>

    <div class="container" id="contenido">
        <h2>Posts</h2>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{'/posts/nuevoPost'}">Nuevo Post</a>
        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Nombre Autor</th>
                <th>Resumen</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="x, info : ${lista}">
                <td th:text="${x.id_post}"></td>
                <td th:text="${x.title}"></td>
                <td th:text="${x.author}"></td>
                <td th:text="${x.summary}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{'/posts/editarPosts' + '?id=' + ${x.id_post}}">Editar</a>
                </td>
                <td sec:authorize="hasAnyAuthority('admin)">
                    <a class="btn btn-danger" th:href="@{'/posts/borrarPosts' + '?id=' + ${x.id_post}}">Borrar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>