<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="base :: head(index)">
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="post" th:action="@{/processLogin}" >
            <input type="text" id="correo" class="fadeIn second" name="correo" placeholder="user">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
            <h5 th:if="${param.error}" class="text-danger">Acceso Denegado </h5>
            <input type="submit" class="fadeIn fourth" value="Iniciar sesión">
        </form>

        <!-- Remind Passowrd -->


    </div>
</div>
</body>
</html>